<div class="menu">
    <img [src]="logo.src" [alt]="logo.alt" class="menu__icon" />
    <img *ngIf="isDesktop; else MobileNav" [src]="user.src" [alt]="user.alt" class="menu__icon" />
    <ng-template #MobileNav>
        <img *ngIf="isNavOpen; else BurgerIcon" [src]="close.src" [alt]="close.alt" class="menu__icon"
            (click)="onToggleMenuMobile()" />
        <ng-template #BurgerIcon>
            <img [src]="burger.src" [alt]="burger.alt" class="menu__icon" (click)="onToggleMenuMobile()" />
        </ng-template>
    </ng-template>
</div>