@import 'variables';

.nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid $black;
    padding: .25rem;

      &__icon {
        width: 32px;
        padding: .5rem;

        &:hover {
            cursor: pointer;
        }

        &-selected {
            border: 1px solid $black;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .nav {
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        height: calc(100vh - 70px);
        border-bottom: none;
        border-right: 1px solid $black;

        &__icon {
            margin: 1rem auto;
        }
    }
}