// colors
$black: #000;
$white: #e5e5e5;
$light-pink:#fff4f4; 
$yellow: #ffd390;
$pink: #ffbcbc;
$pure-white: #fff;

$light: $white;
$dark: $black;
$light-background: $light-pink;

// screen sizes
$tablet: 540px;
$laptop: 780px;