@import 'variables';

.chip {
    width: fit-content;
    border-radius: .75rem;
    padding: .1rem .6rem;
    font-size: .75rem;

    &-roaster{
        background-color: $yellow;
    }

    &-origin {
        background-color: $pink;
    }
}
