@import 'variables';

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    &__new, &__classics {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
    }

    &__title {
        margin-left: 1.5rem;
    }

    &__coffee-card {
        margin: .5rem 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    height: calc(100vh - 70px);
}

@media screen and (min-width: $tablet) {
    .home {

        &__new, &__classics {
            flex-direction: row;
        }

        &__coffee-card {
            margin:  0 .5rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .wrapper {
        flex-direction: row;
    }
}