<div class="search">
    <app-menu></app-menu>
    <div class="wrapper">
        <app-nav></app-nav>
        <div class="content-wrapper">
            <form class="search__form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <input class="search__form__input" formControlName="search" placeholder="Wyszukaj" type="text" required>
                <app-button class="search__form__button" label="Wyszukaj"></app-button>
                <mat-form-field class="search__form__picker">
                    <mat-label>Pochodzenie</mat-label>
                    <mat-select formControlName="origin" multiple>
                        <mat-option *ngFor="let origin of origins" [value]="origin">{{origin}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search__form__picker">
                    <mat-label>Palarnia</mat-label>
                    <mat-select formControlName="roaster" multiple>
                        <mat-option *ngFor="let roaster of roasters" [value]="roaster">{{roaster}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="search__form__picker">Obróbka</mat-label>
                    <mat-select formControlName="treatment" multiple>
                        <mat-option *ngFor="let treatment of treatments" [value]="treatment">{{treatment}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="search__form__picker">Kwasowość</mat-label>
                    <mat-select formControlName="adacity" multiple>
                        <mat-option *ngFor="let adacity of adacities" [value]="adacity">{{adacity}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <div class="search__results-wrapper">
                <h1 class="search__title">{{title}}</h1>
                <div class="search__results">
                    <app-coffee-card *ngFor="let coffee of coffees" class="search__coffee-card" [title]="coffee.name"
                        [roaster]="coffee.roaster" [origin]="coffee.origin" (click)="redirectToCoffeeCard(coffee.id)">
                    </app-coffee-card>
                </div>
            </div>
        </div>
    </div>
</div>