@import 'variables';

.search {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    &__form, &__title, &__results {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1rem;

        &__input {
            width: 50%;
            height: 2rem;
            margin: .5rem 1rem .5rem 0;
            border: none;
            border-bottom: 2px solid $dark;
            background-color: transparent;
        }
    }

    &__coffee-card {
        margin: .5rem 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    height: calc(100vh - 70px);
}

mat-form-field {
    width: 45%;
    margin: auto;
    margin-left: 0;
}

@media screen and (min-width: $tablet) {
    .search {
        &__form {
            width: 50%;

            &__input {
                margin-right: 3rem;
            }
        }

        &__results {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            & > * {
                margin-right: 1rem;
            }
        }
    }

    .wrapper {
        flex-direction: row;
    }
}